* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* App  */
.App {
  background-color: transparent;
  color: white;
  max-height: 100%;
  padding: 10px 20px;
}

/* Login page css------------------------- */
.logincontainer{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)),
    url("https://backiee.com/static/wallpapers/1000x563/365661.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-container {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  color: #fff;
  width: 340px;
  padding: 2rem;
}
.form-container .title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1rem;
}
.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 0.2rem;
}
.input-group .password {
  margin-top: 0.5rem;
}
.input-group input {
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
  width: 100%;
}
.input-group input:focus {
  border-color: rgba(167, 139, 250);
}
.forgot {
  text-align: right;
  line-height: 1rem;
  margin: 8px 0 14px 0;
}
.forgot a,
.sign-up a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}
.forgot a:hover,
.sign-up a:hover {
  color: rgba(167, 139, 250, 1);
  text-decoration: underline rgba(167, 139, 250, 1);
}
.sign-in {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.social-messages {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.line {
  height: 2px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}
.social-messages .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  color: rgba(156, 163, 175, 1);
}
.icons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 0.5rem;
}
.icons i {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
  font-size: 1.8rem;
}
.sign-up {
  text-align: center;
  font-size: 0.9rem;
  color: rgba(156, 163, 175, 1);
  margin-top: 0.5rem;
}
/* MEDIA QUERIES  */
@media (width <= 420px) {
  .form-container {
    width: 340px;
  }
  .chats_header {
    border-radius: 20px;
    border: 1px solid rgb(93, 93, 93);
  }
  .App {
    background-color: transparent;
    color: white;
    max-height: 100%;
    padding: 0px 0px;
  }
  .chats_list {
    padding: 0px 20px;
  }
}
/* Login end--------------- */

.Profile {
  position: relative;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  left: 0;
  margin-left: -20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 1px 5px;
  color: rgb(0, 0, 0);
}
/* Chat Container  */
.chats_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(93, 93, 93);
  border-top: 1px solid rgb(93, 93, 93);
  background-color: rgba(0, 0, 0, 0.247);
  padding: 10px;
  margin: 0px 5px;
  margin-bottom: 10px;
}
.chats_header h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}
.chats_header h2 {
  font-weight: 900;
  background: linear-gradient(
    to right top,
    #0e0ed2,
    #0b38d8,
    #980d51,
    #cf393e,
    #eb7612
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerlogo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.chats_icon {
  color: red;
}

/* .chats_logout {
    color: rgb(6, 152, 152);
} */

.home {
  padding: 0 10px;
  width: 100%;
}
@media (max-width: 768px) {
  .home {
    padding: 15px 0px;
  }
}
/* chats list  */
.chats_list {
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
}

/* Custom scrollbar styling */
.chats_list::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.chats_list::-webkit-scrollbar-track {
  background: rgb(44, 44, 44); /* Background of the scrollbar track */
}

.chats_list::-webkit-scrollbar-thumb {
  background: black; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Optional: adds rounded corners to the thumb */
}

/* For Mozilla Firefox */
.chats_list {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: black rgb(23, 23, 23); /* Thumb color, Track color */
}
/*  */
.chat_sender {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.chat_sender img,
.chat_receiver img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.chat_sender p {
  padding: 10px;
  background-color: #ff7300;
  border-radius: 10px;
  max-width: 60%;
  margin: 10px 10px;
  word-break: break-all;
}

.chat_receiver {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.chat_receiver p {
  padding: 10px;
  background-color: #2474ff;
  border-radius: 10px;
  max-width: 60%;
  margin: 10px 10px;
  word-break: break-all;
}

/* input text  */

.inputtext_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  padding: 0px 20px;
}

.inputtext_container button {
  width: fit-content;
  height: 50px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #333333;
  color: #fff;
  padding: 0px 30px;
  cursor: pointer;
}

.inputtext_container input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #333333;

  padding: 10px;
  font-size: 18px;
}
.inputtext_container input:focus {
  outline: 0;
  border: 1px solid #666666;
}
